<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title> Ted Guerin Art </title>

    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel = "stylesheet" href = "../static/style.css">

  </head>
  <body class = "abouttheartist-body">

    <nav class="navbar navbar-expand-lg">

      <a class="navbar-brand" href="#">
          <img src = "../static/LogoImg.jpg" width = "100" class = "d-inline-block align-top" alt = "Guerin">
      </a>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <ul class="navbar-nav">

          <button type="button" name="button">
            <li class="nav-item active">
              <a class="nav-link" href="#"> Home <span class="sr-only">(current)</span></a>
            </li>
          </button>

          <button type="button" name="button">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#"> About the Artist </a>
                <a class="dropdown-item" href="#"> About the Website </a>
              </div>
            </li>
          </button>

          <button type="button" name="button">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gallery</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#"> Large </a>
                <a class="dropdown-item" href="#"> Medium </a>
                <a class="dropdown-item" href="#"> Small </a>
              </div>
            </li>
          </button>

          <button type="button" name="button">
            <li class="nav-item">
              <a class="nav-link" href="#"> Checkout </a>
            </li>
          </button>

        </ul>
      </div>
    </nav>

    <h2>Ted Guerin</h2>

    <h4><i>Art Educator and Professional Artist</i></h4>

    <div class = "row">

      <div class = "col-xs-8 align-left ArtistText">

        <p>Born in Trenton, N.J., Ted was the son of Henry Clay Guerin and Mary Reddy Lynch Guerin. Ted at four years of age lost his father, a Newark, New Jersey, chemical industrialist.  In l929, the stock market crash precipitated the loss of family holdings, requiring his mother to work as a nurse to support him.  He attended St. Dominic’s Academy in West Caldwell, NJ, graduated from Newark Arts High School and then from the professional art college, Newark School of Fine and Industrial Arts, the only arts college in the country to have been  established by a city board of education.
        <br><br>
        His career began with free-lance fine and commercial art while also teaching in a professional art school.  Ted briefly worked in an industry producing airplane gauges for WWII before enlisting in the Army Air Corps, in which he served throughout the Pacific theatre as a bombardier on a B-24 and finally in the occupation of Japan.
        <br><br>
        After the war, Ted returned briefly to free-lance commercial art before continuing his education by enrolling at Newark State Teachers’ College, now Kean University, to certify for public school teaching at Morris Hills Regional High School in Rockaway, N.J., for almost 30 years.
        <br><br>
        Shortly thereafter he became Dean of Students at the Newark School of Fine and Industrial Arts, from which he had graduated fifty years earlier, serving in that position for nine years. </p>

      </div>

      <div class = "col-xs-4">

        <br><br>
        <img src = "../static/ArtistImg1.jpg" alt = "Photo of Ted Guerin 1" class = "ArtistImg1">

      </div>

    </div>

    <div class = "row">

      <div class = "col-xs-6">

        <img src = "../static/ArtistImg2.jpg" alt = "Photo of Ted Guerin 2" class = "ArtistImg1">

      </div>

      <div class = "col-xs-6 align-left ArtistText">


        <p>At age seventy, Ted opened one of the twenty-two professional artists’ studios at Studios on the Square, a gallery in Roanoke, VA, where he worked until health concerns led to retirement at age eighty-three to San Diego, CA.
        <br><br>
        Ted and Nadine Germanton Guerin were married  for 47 years and  have a son Glenn Theodore Guerin of Pacific Beach, CA.  Over the years the Guerin family lived in Rockaway, NJ, in Lake Shawnee, NJ; in Roanoke, VA; and in San Diego, CA.  In June of 2009, Ted and Nadine became residents of the White Sands of La Jolla, a retirement community on the oceanfront, where Ted could enjoy Pacific sunsets so often captured in his paintings
        <br><br>
        The Guerins combined travel and Ted’s beloved art by studying at Cambridge University in England, at Regents College in London, and at the Holmwood House, Colchester, England, as well as in various locations in the US.

      </div>

    </div>

    <div class = "row">

      <div class = "col-xs-8 align-left ArtistText">

        <p>Ted was a prolific artist employing watercolor, oil, acrylics, pen and ink, pencil, charcoal, and pastels to create seascapes, landscapes, still-life, book illustration, commercial advertising art, and portraits. Small- press art and local newspaper art as well as journalism are part of his credits.   At age seventy-five, Ted with Nadine was flown to the Texas Space Center for his award as “Artist of the Future” for science-fiction illustration.  Ted Guerin’s art, which graces many private and public collections, is the pride of his family and many friends.
        <br><br>
        At the time of his death, Ted and Nadine lived at White Sands of La Jolla, CA.  He leaves family members and friends from England and the East Coast to California and Hawaii, where he painted many of is finest pieces al fresco, to remember his spirit, wit, and amazingly versatile art.</p>

      </div>

      <div class = "col-xs-4">

        <img src = "../static/ArtistImg3.jpg" alt = "Photo of Ted Guerin 3" class = "ArtistImg1">

      </div>

    </div>

  </body>

</html>
