<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">

    <title> Ted Guerin Art </title>

    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel = "stylesheet" href = "../static/style.css">

  </head>

    <body class = "indexgallery-body">

      <nav class="navbar navbar-expand-lg">

        <a class="navbar-brand" href="#">
            <img src = "../static/LogoImg.jpg" width = "100" class = "d-inline-block align-top" alt = "Guerin">
        </a>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">

          <ul class="navbar-nav">

            <button type="button" name="button">
              <li class="nav-item active">
                <a class = "nav-link" href = "/home"> Home <span class="sr-only">(current)</span></a>
              </li>
            </button>

            <button type="button" name="button">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#"> About the Artist </a>
                  <a class="dropdown-item" href="#"> About the Website </a>
                </div>
              </li>
            </button>

            <button type="button" name="button">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gallery</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#"> Large </a>
                  <a class="dropdown-item" href="#"> Medium </a>
                  <a class="dropdown-item" href="#"> Small </a>
                </div>
              </li>
            </button>

            <button type="button" name="button">
              <li class="nav-item">
                <a class="nav-link" href="#"> Checkout </a>
              </li>
            </button>

          </ul>
        </div>
      </nav>
    <div class = "row">

          <div class = "col-xs-12 text-center warning">
            {% with messages = get_flashed_messages(with_categories = true) %}
              {% if messages %}
                {% for category, message in messages%}
                <div class = "alert alert-{{category}}">
                  {{ message }}
                </div>
                {% endfor %}
              {% endif %}
            {%endwith%}
          </div>

        </div>
      </div>

    {% block content %}
    {% endblock %}


  </body>

</html>
